<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="cashback" id="cashback">
			<module before="Magento_Backend" name="Wallet_Payment"/>
		</route>
		<route frontName="walletCashback" id="walletCashback">
			<module before="Magento_Backend" name="Wallet_Payment"/>
		</route>
		<route frontName="walletCashbackNew" id="walletCashbackNew">
			<module before="Magento_Backend" name="Wallet_Payment"/>
		</route>
		<route frontName="wallet_payment" id="wallet_payment">
			<module before="Magento_Backend" name="Wallet_Payment"/>
		</route>
	</router>
</config>
