<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<credits>
				<active>1</active>
				<model>Wallet\Payment\Model\Payment\Credits</model>
				<order_status>pending</order_status>
				<title>Wallet Credits</title>
				<allowspecific>0</allowspecific>
				<group>Offline</group>
			</credits>
		</payment>
	</default>
</config>
